header{
	text-align:center;
	padding:40px;
	margin:auto;
	
}
form{
	background-color:#ECECEC;
	padding:30px 40px;	
}
.hidden-label{
	position:absolute;
	height:0;
	width:0;
	overflow:hidden;
	visibility:hidden;
}
input[type=email],
input[type=Name],
input[type=Re-password],
input[type=password],
input[type=text],
input[type=number],
select

{
	width:35%;
	display:block;
	box-sizing:border-box;
	height:40px;
	font-family:tohama,sans-sarif;
	font-size:100%;
	margin-bottom:20px;
	border:1px solid #CDCDCD;
	
}
input[type="button"]{
	width:35%;
	height:40px;
	display:1px solid #869960;
	box-sizing:border-box;
	background-color:$869960;
	color:
}
input[type="button"]:hover{
	background-color:#798A56;
}